<div class="row text-white">
    <!-- <div class="col-lg-1 offset-lg-1"></div> -->
    <div class="col-lg-4 mb-4">
        <div class=" bg-success" style="border-radius: 20px 0px 1px 20px;">
            <h5 class="text-center"><span class="spinner-grow spinner-grow-sm"></span><strong>SECURITE</strong></h5>
            <hr class="bg-white">
            <table class="text-justify">
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Gardiennage 24h/24
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Video Surveillance
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Systeme de detection d'intrusion
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Equipe d'abattage experimentee
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Tracabilite de la viande
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.securite -->

    <div class="col-lg-4 mb-4 h-75">
        <div class=" bg-success">
            <h5 class="text-center"><span class="spinner-grow spinner-grow-sm"></span><strong>GARANTIE</strong></h5>
            <hr class="bg-white">
            <table class="text-justify">
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Veterinaire disponible 24h/24
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Assurance des moutons
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Hygiene
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Satisfait ou Rembourse
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Viande 100% Halal
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <!-- /.garantie -->

    <div class="col-lg-4 mb-4">
        <div class=" bg-success" style="border-radius: 1px 20px 20px 0px;">
            <h5 class="text-center"><span class="spinner-grow spinner-grow-sm"></span><strong>SUIVI</strong></h5>
            <hr class="bg-white">
            <table class="text-justify">
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Un mecanisme de paiement souple
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Payer les betails achetes sur plusieurs mois
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Un service de livraison assure
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Livraison a temps reel
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-check"></i>
                            Consultation carnet de l'animal
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.suivi -->
    <!-- <div class="col-lg-1 offset-lg-2"></div> -->
</div>
<!-- /.row -->
