{% extends 'base.html.twig' %}

{% block body %}
        <!-- Page Content -->
        <div class="container">
                {% include('home/_description.html.twig') %}
                {% include('home/_carousel.html.twig') %}
                {% include('home/_information.html.twig') %}
        </div>
        <!-- /.page content -->

{% endblock %}