{% extends 'adminbase.html.twig' %}

{% block title %}Hello Commercial{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 style="text-align: center">Commercial Page</h1>
    </div>
{% endblock %}
