
<div class="mt-4">
    <h2 class="bg-success text-white"  style="border-radius: 50px 50px 50px 50px;">
        <i class="fa fa-angle-double-down rounded-circle bg-success h-100"></i>ACTIVITES RELIGIEUSES</h2>
    <div class="">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h2 class="bg-success text-white text-center"  style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-chevron-right bg-success rounded-circle h-100"></i>KORITE</h2>
                <div class="bg-white border border-success">
                    <p class="text-justify text-center p-2">
                        Un texte est une série orale ou écrite de mots perçus comme constituant
                        un ensemble cohérent, porteur de sens et utilisant les structures propres à
                        une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de
                        poèmes à forme fixe comme le sonnet ou le haïku.
                    </p>
                </div>
                <a href="#" class="btn btn-success" style="border-radius: 50px !important; float: right;" data-toggle="modal" data-target="#exampleModalKorite">Voir <i class="fa fa-plus-circle"></i></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalKorite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">KORITE</h5>
                            <button type="button" class="close btn btn-default bg-danger" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                            <br>
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a href="compte.html" type="submit" class="btn btn-success">Abonner</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <h2 class="bg-success text-white text-center"  style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-chevron-right bg-success rounded-circle h-100"></i>GAMOU</h2>
                <div class="bg-white border border-success">
                    <p class="text-justify text-center p-2">
                        Un texte est une série orale ou écrite de mots perçus comme constituant
                        un ensemble cohérent, porteur de sens et utilisant les structures propres à
                        une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de
                        poèmes à forme fixe comme le sonnet ou le haïku.
                    </p>
                </div>
                <a href="#" class="btn btn-success" style="border-radius: 50px !important; float: right;" data-toggle="modal" data-target="#exampleModalGamou">Voir <i class="fa fa-plus-circle"></i></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalGamou" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">GAMOU</h5>
                            <button type="button" class="close btn btn-default bg-danger" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                            <br>
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a href="compte.html" type="submit" class="btn btn-success">Abonner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h2 class="bg-success text-white text-center"  style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-chevron-right bg-success rounded-circle h-100"></i>MAGAL</h2>
                <div class="bg-white border border-success">
                    <p class="text-justify text-center p-2">
                        Un texte est une série orale ou écrite de mots perçus comme constituant
                        un ensemble cohérent, porteur de sens et utilisant les structures propres à
                        une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de
                        poèmes à forme fixe comme le sonnet ou le haïku.
                    </p>
                </div>
                <a href="#" class="btn btn-success" style="border-radius: 50px !important; float: right;" data-toggle="modal" data-target="#exampleModalMagal">Voir <i class="fa fa-plus-circle"></i></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalMagal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">MAGAl</h5>
                            <button type="button" class="close btn btn-default bg-danger" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                            <br>
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a href="compte.html" type="submit" class="btn btn-success">Abonner</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <h2 class="bg-success text-white text-center"  style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-chevron-right bg-success rounded-circle h-100"></i>APPEL</h2>
                <div class="bg-white border border-success">
                    <p class="text-justify text-center p-2">
                        Un texte est une série orale ou écrite de mots perçus comme constituant
                        un ensemble cohérent, porteur de sens et utilisant les structures propres à
                        une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de
                        poèmes à forme fixe comme le sonnet ou le haïku.
                    </p>
                </div>
                <a href="#" class="btn btn-success" style="border-radius: 50px !important; float: right;" data-toggle="modal" data-target="#exampleModalAppel">Voir <i class="fa fa-plus-circle"></i></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalAppel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">APPEL</h5>
                            <button type="button" class="close btn btn-default bg-danger" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                            <br>
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a href="compte.html" type="submit" class="btn btn-success">Abonner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <h2 class="bg-success text-white"  style="border-radius: 50px 50px 50px 50px;">
        <i class="fa fa-angle-double-down bg-success rounded-circle h-100"></i>ACTIVITES SPONTANEES</h2>
    <div class="">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h2 class="bg-success text-white text-center"  style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-chevron-right bg-success rounded-circle h-100"></i>BAPTEME</h2>
                <div class="bg-white border border-success">
                    <p class="text-justify text-center p-2">
                        Un texte est une série orale ou écrite de mots perçus comme constituant
                        un ensemble cohérent, porteur de sens et utilisant les structures propres à
                        une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de
                        poèmes à forme fixe comme le sonnet ou le haïku.
                    </p>
                </div>
                <a href="#" class="btn btn-success" style="border-radius: 50px !important; float: right;" data-toggle="modal" data-target="#exampleModalBapteme">Voir <i class="fa fa-plus-circle"></i></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalBapteme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">BAPTEME</h5>
                            <button type="button" class="close btn btn-default bg-danger" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                            <br>
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a href="compte.html" type="submit" class="btn btn-success">Abonner</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <h2 class="bg-success text-white text-center"  style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-chevron-right bg-success rounded-circle h-100"></i>DECES</h2>
                <div class="bg-white border border-success">
                    <p class="text-justify text-center p-2">
                        Un texte est une série orale ou écrite de mots perçus comme constituant
                        un ensemble cohérent, porteur de sens et utilisant les structures propres à
                        une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de
                        poèmes à forme fixe comme le sonnet ou le haïku.
                    </p>
                </div>
                <a href="#" class="btn btn-success" style="border-radius: 50px !important; float: right;" data-toggle="modal" data-target="#exampleModalDeces">Voir <i class="fa fa-plus-circle"></i></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalDeces" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">DECES</h5>
                            <button type="button" class="close btn btn-default bg-danger" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                            <br>
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a href="compte.html" type="submit" class="btn btn-success">Abonner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h2 class="bg-success text-white text-center"  style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-chevron-right bg-success rounded-circle h-100"></i>CONFERENCE</h2>
                <div class="bg-white border border-success">
                    <p class="text-justify text-center p-2">
                        Un texte est une série orale ou écrite de mots perçus comme constituant
                        un ensemble cohérent, porteur de sens et utilisant les structures propres à
                        une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de
                        poèmes à forme fixe comme le sonnet ou le haïku.
                    </p>
                </div>
                <a href="#" class="btn btn-success" style="border-radius: 50px !important; float: right;" data-toggle="modal" data-target="#exampleModalConference">Voir <i class="fa fa-plus-circle"></i></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalConference" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">CONFERENCE</h5>
                            <button type="button" class="close btn btn-default bg-danger" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                            <br>
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a href="compte.html" type="submit" class="btn btn-success">Abonner</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <h2 class="bg-success text-white text-center"  style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-chevron-right bg-success rounded-circle h-100"></i>ZIARE</h2>
                <div class="bg-white border border-success">
                    <p class="text-justify text-center p-2">
                        Un texte est une série orale ou écrite de mots perçus comme constituant
                        un ensemble cohérent, porteur de sens et utilisant les structures propres à
                        une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de
                        poèmes à forme fixe comme le sonnet ou le haïku.
                    </p>
                </div>
                <a href="#" class="btn btn-success" style="border-radius: 50px !important; float: right;" data-toggle="modal" data-target="#exampleModalZiare">Voir <i class="fa fa-plus-circle"></i></a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalZiare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ZIARE</h5>
                            <button type="button" class="close btn btn-default bg-danger" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                            <br>
                            Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a href="compte.html" type="submit" class="btn btn-success">Abonner</a href="compte.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=""> &nbsp;</div>
